@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,400&display=swap");

/**************************/
/* COLORS */
/**************************/

:root {
  --text-color: rgb(23, 23, 23);
  --primary-color: rgb(229, 136, 29);
  --primary-color2: rgb(182, 97, 0);
  --secondary-color: rgb(62, 62, 62);
  --secondary-light-color: rgb(224, 224, 224);
}

/**************************/
/* MARGINS & PADDINGS RESET */
/**************************/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; */
  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Lato", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.5;
  height: 100vh;
  color: var(--secondary-color);
  background-color: #f9f9f9;
}

/**************************/
/* GENERAL ELEMENTS */
/**************************/

a,
logo > a {
  color: var(--primary-color);
  text-decoration: none;
  background-color: transparent;
  font-size: 2rem;
}

a:hover {
  color: var(--secondary-light-color);
}

p {
  margin-bottom: 1rem;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul {
  margin-bottom: 1.5rem;
}

.logo {
  font-weight: 800;
  font-size: 2rem;
  margin: 1rem 0 2rem 3rem;
  text-transform: uppercase;
  display: inline;
  color: var(--secondary-light-color);
}

.logo a {
  color: var(--secondary-light-color);
  font-size: 2rem;
}

.logo a:hover {
  color: var(--primary-color);
}

.logo.dark-background {
  margin-top: 2rem;
  padding-left: 2rem;
}

h1 {
  font-size: 5rem;
  text-transform: uppercase;
  color: var(--primary-color);
}

.section-title {
  margin: 3rem 0;
}

h2 {
  color: var(--secondary-color);
  font-style: italic;
  margin-bottom: 2rem;
}

h3 {
  text-transform: uppercase;
  font-size: 2rem;
  margin-top: 6rem;
}

section {
  margin-bottom: 10rem;
}

hr {
  margin: 5rem 0 1rem 0;
}

iframe {
  display: block;
  margin-bottom: 3rem;
}

figure {
  border: 0.1rem #cccccc solid;
  padding: 0.4rem;
  margin: auto;
  float: right;
  margin: 0 0 3rem 3rem;
}

figure img {
  vertical-align: top;
}

figcaption {
  font-size: 1.3rem;
  font-style: italic;
  padding: 0.2rem;
  text-align: center;
}

audio {
  display: block;
}

/**************************/
/* MAIN NAVIGTATION */
/**************************/

/* Add a black background color to the top navigation */
.topnav {
  background-color: rgba(0, 0, 0, 0.8);
  overflow: hidden;
  padding: 0 5vw;
  z-index: 10;
}

.float-nav {
  float: right;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 1.4rem 1.6rem;
  text-decoration: none;
  font-size: 1.7rem;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: rgb(221, 221, 221, 0.8);
  color: black;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: rgb(229, 136, 29, 0.8);
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

/**************************/
/* FOOTER */
/**************************/

footer {
  padding: 2rem 0;
  background-color: black;
  color: var(--secondary-light-color);
  font-size: 1.4rem;
}

.content {
  min-height: calc(100vh - 16rem);
}

.legal-links {
  float: right;
  list-style: none;
}

.legal-links li {
  display: inline-block;
  margin-left: 3rem;
}

.legal-links li a {
  font-size: 1.4rem;
}
