.container-mobile {
  width: 90%;
  margin: 0 auto;
}

/**************************/
/* TABLET QUERIES */
/**************************/

@media only screen and (max-width: 1180px) {
  figure {
    width: 50%;
    display: inline;
    float: right;
  }

  .portrait {
    width: 100%;
    height: auto;
  }
}

/**************************/
/* PHONE */
/**************************/

@media only screen and (max-width: 767px) {
  .more li a {
    font-size: 2rem;
  }

  section {
    margin-bottom: 5rem;
  }

  iframe {
    width: 100%;
  }

  figure {
    width: 100%;
    margin-left: 0;
    display: block;
  }

  .featured {
    margin: 0;
    overflow-x: hidden;
    bottom: 0;
    left: 5%;
    padding: 0;
  }

  #featured-span {
    font-size: 3.5rem;
  }

  /**************************/
  /* FOOTER */
  /**************************/

  footer {
    font-size: 1.3rem;
    /* padding: 0; */
  }

  footer :nth-child(2) {
    order: 1;
  }

  .footer-container {
    display: flex;
    flex-direction: column;
  }

  .logo {
    width: 15rem;
    margin: 1rem 0 1rem 0;
  }

  .footer-links li {
    text-align: center;
  }

  .footer-links {
    margin-bottom: 2rem;
  }

  /* .footer-links {
    float: none;
    text-align: center;
  }

  .footer-links li {
    margin-left: 0;
    margin-right: 1.5rem;
  } */

  .horn-list a {
    font-size: 1.8rem;
  }

  .horn-list li {
    margin-left: 2rem;
    font-size: 1.8rem;
    line-height: 2;
  }

  .dedicatee li {
    font-size: 2rem;
  }

  .dedicatee li a {
    font-size: 2rem;
  }

  .items {
    grid-template-columns: repeat(3, 1fr);
  }

  .instructions {
    font-size: 1.6rem;
  }

  .copyrights a {
    font-size: 2rem;
  }

  h1 {
    font-size: 3.5rem;
    line-height: 1.5;
  }

  .title {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }

  body {
    font-size: 2rem;
    line-height: 1.7;
  }

  .featured-text {
    font-size: 1.8rem;
    line-height: 1.5;
  }

  h2 {
    font-size: 2.5rem;
  }

  .featured h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  .portrait {
    width: 100%;
    height: auto;
  }

  /**************************/
  /* MAIN NAVIGATION */
  /**************************/

  /* When the screen is less than 767 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
  .topnav li a {
    display: none;
  }

  .topnav a.icon {
    /* float: right; */
    display: block;
  }

  .nav-list li {
    display: block;
  }

  /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
  .topnav.responsive {
    position: relative;
    flex-direction: column;
    padding-bottom: 1rem;
  }

  .topnav.responsive a.icon {
    position: absolute;
    right: 5vw;
    top: 1.4rem;
  }

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: center;
  }
}

/**************************/
/* VERTICAL ORIENTATION (PORTRAIT) */
/**************************/
@media only screen and (orientation: portrait) and (max-width: 767px) {
  header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 1)),
      image-set(
        url(../img/conservatoire-portrait.webp?width=800) 1x,
        url(../img/conservatoire-portrait.webp?width=1200) 2x,
        url(../img/conservatoire-portrait.webp?width=1800) 3x
      );
  }
}
