/* Container */
/* The following rules adapt to the different screens. The container occupy 100% of the screen, with a left and right padding, and automatic left and right margins, so the design is centered.
The media queries allow a maximum width for the container in relation with devices with a minimum width indicated with the breakpoint.
*/

.container-mobile {
  width: 90%;
  margin: 0 auto;
}

/* Phone Queries */

@media only screen and (max-width: 767px) {
  .more li a {
    font-size: 2rem;
  }

  section {
    margin-bottom: 5rem;
  }

  iframe {
    width: 100%;
  }

  figure {
    margin-left: 0;
  }

  .featured {
    margin: 0;
    overflow-x: hidden;
    bottom: 0;
    left: 0;
    padding: 0 2rem;
  }

  #featured-span {
    font-size: 3.5rem;
  }

  .dark-background {
    padding: 1rem 1rem;
    margin-top: 2rem;
  }

  footer {
    font-size: 1.3rem;
    text-align: center;
    padding: 2rem 0;
  }

  .legal-links {
    float: none;
    text-align: center;
  }
  .legal-links li {
    margin-left: 0;
    margin-right: 1.5rem;
  }

  .horn-list a {
    font-size: 1.8rem;
  }

  .horn-list li {
    margin-left: 2rem;
    font-size: 1.8rem;
    line-height: 2;
  }

  .dedicatee li {
    font-size: 2rem;
  }

  .dedicatee li a {
    font-size: 2rem;
  }

  .items {
    grid-template-columns: repeat(2, 1fr);
  }

  .instructions {
    font-size: 1.6rem;
  }

  .copyrights a {
    font-size: 2rem;
  }

  h1 {
    font-size: 3.5rem;
  }

  .title {
    font-size: 2.5rem;
  }

  body {
    font-size: 2rem;
    line-height: 1.7;
  }

  .featured-text {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  .featured h2 {
    font-size: 2rem;
  }

  .portrait {
    width: 100%;
    height: auto;
  }
}

/* Tablet Queries */

@media only screen and (max-width: 992px) {
  .featured {
    bottom: 5%;
    left: 5%;
    padding: 0 2rem;
  }

  .featured-text {
    font-size: 2rem;
  }

  .menu-links {
    display:contents;
    float: left;
    margin: 1rem 0;
    padding: 0;
  }

  .menu-links li {
    display: block;
    margin: 0 1.5rem;
    font-size: 2rem;
    float: none;
  }

  .menu-links li a {
    display: block;
    font-size: 2rem;
    float: left;
    line-height: 1.8;
    float: none;
  }
}

@media only screen and (max-width: 1180px) {
  .flex-container {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .logo {
    font-size: 3rem;
    margin-right: 3rem;
    margin-bottom: 0;
    align-items: center;
  }

  .menu-links {
    align-items: center;
    margin-left: 3rem;
    margin-top: 0;
  }

  /* .menu-links li a,
  .menu-links li {
    text-align: left;
    display: block;
    line-height: 2;
  } */
}