/**************************/
/* HEADER & HOMEPAGE */
/**************************/

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 1)),
    image-set(
      url(../img/conservatoire.webp?width=800) 1x,
      url(../img/conservatoire.webp?width=1200) 2x,
      url(../img/conservatoire.webp?width=1800) 3x
    );
  background-size: cover;
  background-position: top;
  height: 100vh;
  width: auto;
  background-attachment: fixed;
  clip-path: circle(250vh at 50% -200vh);
}

.parent-header {
  background-color: black;
}

#hero {
  clip-path: circle(170vh at 50% -80vh);
}

.one-third {
  height: 50vh;
}

.featured {
  position: absolute;
  width: 90%;
  bottom: 0;
  left: 5%;
  margin-bottom: 3rem;
}

#featured-span {
  display: block;
  color: var(--secondary-light-color);
  font-style: italic;
  font-size: 5rem;
  font-weight: 300;
}

.featured :not(h1) {
  color: var(--secondary-light-color);
}

/**************************/
/* DESCRIPTION */
/**************************/

.benefits li {
  list-style: disc;
  margin-left: 3rem;
}

.presentation_vid {
  margin-top: 3rem;
}

.listen-icon {
  display: inline;
  width: 2rem;
  color: var(--primary-color);
  filter: invert(55%) sepia(98%) saturate(960%) hue-rotate(351deg)
    brightness(95%) contrast(87%);
}

/**************************/
/* HORN PLAYERS */
/**************************/

.horn-list a {
  font-size: 1.8rem;
}

.horn-list a:hover {
  color: var(--secondary-color);
}

.horn-list {
  margin: 6rem 0;
  columns: 3;
}

.portrait {
  width: 100%;
}

.dedicatee li {
  margin-left: 2rem;
  list-style: inside;
}

.dedicatee li a {
  font-size: 1.8rem;
}

.more li {
  margin-left: 2rem;
}

.excerpt {
  font-size: 1.8rem;
}

.hornists-grid article:last-child {
  margin-bottom: 2rem;
}

.hornists {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 1.5rem;
}

article {
  border-radius: 2%;
  padding: 0rem 0rem 1rem 0rem;
  display: flex;
  flex-direction: column;
}

article:last-child {
  margin-bottom: 4.5rem;
}

.hornists-grid article {
  height: 20rem;
}

.article-1,
.article-2,
.article-3,
.article-4,
.article-5,
.article-6,
.article-7 {
  background-color: white;
  padding: 3rem 2rem 0rem 2rem;
}

.image-wrapper {
  order: -1;
}

a .pannel-image:hover {
  opacity: 0.8;
  transform: scale(1.01);
  overflow: hidden;
  top: 0;
  left: 0;
  transition: 500ms all ease;
  transition-delay: 100ms;
  -webkit-transition: 500ms opacity ease;
}

.image-wrapper img {
  margin-bottom: 0.5rem;
}

.article-text {
  font-size: 1.3rem;
  overflow: hidden;
}

.dates {
  display: block;
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.flag {
  margin-left: 1rem;
  font-size: 1.4rem;
}

.bio li {
  list-style: outside;
  margin-left: 1.6rem;
}

article {
  grid-column: 1 / 4;
}

.hornists-grid article {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  padding: 1.2rem 1.2rem;
}

.image-wrapper {
  position: relative;
  width: 33%;
  overflow: hidden;
  flex: 1;
}

.article-text {
  flex: 33%;
  width: 67%;
}

.pannel-image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  transform: translateY(-50%);
  object-fit: cover;
}

.image-wrapper img,
.article-text a {
  margin: 0;
  padding: 0;
}

.hornists-grid {
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-rows: auto;
  gap: 2rem;
  max-width: 60rem;
  margin: 0 auto;
}

.article-text h2,
.article-text a {
  font-size: 1.8rem;
  font-weight: 700;
  margin: 0;
  font-style: normal;
}

.article-text a:hover {
  color: var(--secondary-color);
}

/**************************/
/* COUNTRIES */
/**************************/

.items {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
  margin: 5rem 0;
}

.item {
  position: relative;
  background: var(--secondary-color);
  overflow: hidden;
}

.item::after {
  content: "";
  position: absolute;
  display: block;
  background: inherit;
  opacity: 0.9;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scale(2) translateX(-75%) translateY(-75%) rotate(-28deg);
  transition: transform 1s cubic-bezier(0.2, 1, 0.3, 1);
}

.item:hover:after {
  transform: scale(2) translateX(0) translateY(0) rotate(-28deg);
}

.item:hover .item-image {
  transform: scale(1.05);
}

.item:hover .item-text {
  opacity: 1;
  transform: translateY(0);
}

.item-image {
  height: auto;
  transform: translateZ(0);
  display: block;
  transition: transform 750ms cubic-bezier(0.2, 1, 0.3, 1);
}

.item-image:before {
  content: "";
  display: block;
  padding-top: 75%;
  overflow: hidden;
}

.item-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  line-height: 0;
}

.item-text {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  text-align: center;
  z-index: 1;
  color: #fff;
  transform: translateY(-20%);
  transition: opacity 500ms cubic-bezier(0.2, 1, 0.3, 1),
    transform 500ms cubic-bezier(0.2, 1, 0.3, 1);
  transition-delay: 300ms;
}

.item-text-wrap {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
}

.item-text-title {
  font-size: 2rem;
  padding: 0 1rem;
  margin: 0.5rem 0 0 0;
}

.item-text-category {
  text-transform: uppercase;
  font-size: 2rem;
  opacity: 0.7;
  margin: 0;
}

.instructions {
  font-style: italic;
}

/**************************/
/* COPYRIGHTS */
/**************************/

.copyrights a {
  font-size: 1.8rem;
}

.copyrights .licence a {
  font-size: 1.5rem;
}

.licence {
  display: block;
  margin: 1rem 0 1rem 2rem;
  font-size: 1.5rem;
}
