body {
    height: 100vh;
    color: #1f1f1f;
    background: linear-gradient(to bottom, #bada55, #c0ffee);
  }

h1 {
    font-size: 50px;
    text-transform: uppercase;
    color: purple;
}

h2 {
    color: rgb(84, 83, 83);
    font-style: italic;
}